.u-text-center {
    text-align: center;
}

// MARGINS //
// Top Margins
.u-mt-lg {
    margin-top: 8rem;
}

.u-mt-xl {
    margin-top: 10rem;
}

// Bottom Margins
.u-mb-sm {
    margin-bottom: 1.5rem;
}

.u-mb-md {
    margin-bottom: 4rem;
}

.u-mb-lg {
    margin-bottom: 8rem;
}
